# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Django
*.log
db.sqlite3
/backend/media/
/backend/staticfiles/

# Env
.env
backend/.env

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/
